<h1> <strong> About Nift </strong> </h1>
  <p>
    Nift was created for the up and coming, the latest in innovation,
    the products that are not quite there, but that should be. Nift introduces
    you to products that you probably have not heard of, but that you will hear of.
  </p>

<h1> Nift Team Members </h1>
<%= image_tag("barry.jpg") %>
<%= image_tag("jake.jpg") %>
<%= image_tag("paul.jpg") %>
<%= image_tag("emily.jpg") %>


