<div class='main_content'>
  <h2>About Nift</h2>
    <p>
      Nift was created for the up-and-coming, the latest in innovation,
      the products that are not quite there, but that should be. Nift introduces
      you to products that you probably have not heard of, but that you will hear of.
    </p>

  <h3>Nift Team Members</h3>
  <div class='team-member'>
    <h4 class='member-name'>Barry</h4>
    <%= image_tag("https://media.licdn.com/media/p/2/005/053/0e4/3687f27.jpg", size: '60') %>
    <a href='http://linkedin/in/blam2'>LinkedIn</a>
    <a href='http://github.com/barrylam'>GitHub</a>
  </div>

  <div class='team-member'>
    <h4 class='member-name'>Emily</h4>
    <%= image_tag("emily.jpg") %>
    <a href='#'>LinkedIn</a>
    <a href='#'>GitHub</a>
  </div>

  <div class='team-member'>
    <h4 class='member-name'>Jake</h4>
    <%= image_tag("https://avatars0.githubusercontent.com/u/6404876?s=460", size: '60') %>
    <a href='https://www.linkedin.com/in/jacobmaude'>LinkedIn</a>
    <a href='https://github.com/Modsky1?tab=repositories'>GitHub</a>
  </div>

  <div class='team-member'>
    <h4 class='member-name'>Paul</h4>
    <%= image_tag("paul.jpg") %>
    <a href='#'>LinkedIn</a>
    <a href='#'>GitHub</a>
  </div>
</div>
