<div class='main_content'>
  <h2>About Nift</h2>
    <p>
      Nift was created to showcase the most innovative, most exciting new and future products from startup companies. Some of them might not be ready for prime-time yet but are on their way. You might not recognize many of them, but you will soon!
    </p>

  <h3>The Nift Team:</h3>
  <div class='team-member'>
    <h4 class='member-name'>Barry Lam</h4>
    <%= image_tag("https://media.licdn.com/media/p/2/005/053/0e4/3687f27.jpg", size: '60') %>
    <a href='http://linkedin.com/in/blam2'>LinkedIn</a>
    <a href='http://github.com/barrylam'>GitHub</a>
  </div>

  <div class='team-member'>
    <h4 class='member-name'>Emily Williams</h4>
    <%= image_tag("emily.jpg", size: '60') %>
    <a href='#'>LinkedIn</a>
    <a href='#'>GitHub</a>
  </div>

  <div class='team-member'>
    <h4 class='member-name'>Jake Maude</h4>
    <%= image_tag("https://avatars0.githubusercontent.com/u/6404876?s=460", size: '60') %>
    <a href='https://www.linkedin.com/in/jacobmaude'>LinkedIn</a>
    <a href='https://github.com/Modsky1?tab=repositories'>GitHub</a>
  </div>

  <div class='team-member'>
    <h4 class='member-name'>Paul Wilson</h4>
    <%= image_tag("paul.jpg", size: '60') %>
    <a href='#'>LinkedIn</a>
    <a href='#'>GitHub</a>
  </div>
</div>
