.contain-to-grid {
  position: fixed;
  z-index: 100;
  top: 0;
}

.title-area {
  letter-spacing: 0.1em;
}

.alert-box {
  float: right;
  top: 40px;
  clear: both;
}

.input_form {
  width: 400px;
  margin: 0 80px;
  padding-top: 40px;
}

.nift {
  width: 350px;
  font-family: 'Arvo', 'Gill sans', Helvetica, sans-serif;
  letter-spacing: 0.15em;
  margin: 100px 0 0 80px;
}

.logo_letter {
  font-size: 4em;
  text-align: center;
  margin-bottom: 10px;
  padding: 0 9px 0 11px;
  color: #222636;
  background-color: #7FBD5E;
}

.subheading {
  margin: 10px 0 30px 80px;
  font-size: 0.85em;
  letter-spacing: 0.05em;
}

.product_sort {
  width: 200px;
  margin-bottom: 20px;
  display: none;
}

.main_content {
  margin: 0 80px;
  display: block;
}

.product_sort_links {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 0.84em;
  padding-bottom: 20px;
}

.product_sort_links a {
  margin-right: 10px;
  color:#889;
  text-decoration:none;
}

.product_sort_links a.current {
  font-weight:bold;
}

.text_box {
  margin-top: 30px;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

img {
  margin: 0;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;

}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
  max-width: 800px;
  max-height: 1600px;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

.tint {
  background-color: #292933;
  display: inline-block;
}

.tint img {
  opacity: 0.5;
}

.product_image {
  float: left;
  max-width: 800px;
  background: #fff;
  border: 4px solid #222636;
  overflow: hidden;
}

.product_image:hover {
  z-index: 10;
  box-shadow: 0 0 30px #000;
  border: 1px solid #fff;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
}

@media all {
  .size1 {
    width: 200px;
    height: 200px;
    z-index: 4;
  }
  .size2 {
    width: 400px;
    height: 400px;
    z-index: 4;
  }
}

.isotope:after {
  content: '';
  display: block;
  clear: both;
}

.description {
  color: rgba(255,255,255,1);
  background: black;
  background: linear-gradient(bottom, rgba(0,0,0,.8), rgba(0,0,0,.3));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,.8), rgba(0,0,0,.3));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,.8), rgba(0,0,0,.3));
  padding: 6px;
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 2% 5%;
  height: 20%;
  width: 100%;
  transition: height .5s;
  -webkit-transition: height .5s;
  -moz-transition: height .5s;
}

.size1 .product_title {
  font-family: 'Arvo', Helvetica, sans-serif;
  font-size: 1.1em;
}

.size1 .product_details {
  font-size: 0.8em;
  opacity: 0;
}

.size2 .product_title {
  font-family: 'Arvo', Helvetica, sans-serif;
  font-size: 2.5em;
}

.size2 .product_details {
  font-size: 1.25em;
  opacity: 0;
}

.show-description {
  height: 70%;
  overflow: scroll;
}

.show-description .product_details {
  opacity: 1;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 12px solid red;
  margin: 10% 3% 0 0;
  float: right;
}

.pagination {
  text-align: left;
  clear: both;
  padding: 10px 0;
  margin-left: 2px;
  margin-bottom: 40px;
}

.product_display_image {
  margin: 0 20px 40px 0;
  float: left;
}

.product_display_description {
  width: 400px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  float: left;
  clear: right;
  margin-left: 10px;
  text-align: justify;
}

.product_display_text {
  height: 265px;
  overflow: scroll;
}

.product_display_company_name {
  color: #FFF;
}

.review_link {
  font-size: 1.1em;
  font-family: 'Arvo', Helvetica, sans-serif;
  color: #222636;
  background-color: #01939A;
  padding: 4px 8px;
  margin: 20px 0;
}

.review_link:hover {
  background-color: #DDD;
}

.stars {
  color: #F2EA79;
  margin-top: 20px;
}

.review {
  clear: both;
}

.review-text {
  text-align: justify;
  width: 550px;
  float: left;
}

.review-vote {
  float: left;
  margin-top: 20px;
}

input:-webkit-autofill, textarea:-webkit-autofill {
  background-color: #DDD;
}

.back-link {
  clear: both;
  margin-bottom: 40px;
}

@media all and (max-width: 500px) {
  .input_form {margin-left: 30px; margin-right: 30px;}
  .nift {
    margin-left: 10px;
  }
  .subheading {
    margin-left: 10px;
    font-size: 0.85em;
  }
  .main_content {margin: 0 10px;}
  .review-text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .size1 {
    width: 150px;
    height: 150px;
  }
  .size2 {
    width: 300px;
    height: 300px;
  }
}
