<div class="productFilter">
    <a href="#" data-filter="*" class="current">All Categories</a>
    <a href="#" data-filter=".first">First</a>
    <a href="#" data-filter=".second">Second</a>
    <a href="#" data-filter=".third">Third</a>
    <a href="#" data-filter=".fourth">Fourth</a>
</div>

<div class='main_content small-12 medium-12 large-12 columns'>
  <div class='text_box small-12 medium-3 large-4 columns'>
    <ul class='no-bullet'>
      <li>hello hello hello hello</li>
      <li>hello hello hello hello</li>
      <br>
      <li>hello hello hello hello</li>
      <li>hello hello hello hello</li>
      <li>hello hello hello hello</li>
      <br>
      <li>hello hello hello hello</li>
      <li>hello hello hello hello</li>
    </ul>
  </div>

  <div class='main_image small-12 medium-9 large-8 columns'>
    <img src='http://media-cdn.tripadvisor.com/media/photo-s/03/9b/2f/47/boston.jpg'>
  </div>
</div>

<div class='isotope js-isotope small-12 medium-12 large-12 columns' id='productContainer'>
  <% @products.each do |product| %>
    <!-- if/elsif/elslif/else control flow for choosing image size class based on sorting criterion -->
    <a class='product_image size<%="#{[1,1,1,2,2,3].sample}"%>' href='<%= product_path(product)%>'>
      <%= image_tag(product.image.large, class: 'image') %>
      <div class='description'>
        <p class='product_title'>Product Title<span class='arrow'></span></p>
        <p class='product_details'>This is a sample description. It has more details about the product in the picture.</p>
      </div>
    </a>
  <% end %>
</div>

<%= paginate @products %>
