




<div class="masonry js-masonry"  data-masonry-options='{ "columnWidth": 60, "gutter": 17}'>
   <div class="product big"><span class ="caption">Product Name</span></div>
  <div class="product"><span class ="caption">Product Name</span></div>
  <div class="product"><span class ="caption">Product Name</span></div>
  <div class="product small"><span class ="caption">Product Name</span></div>

  <div class="product"><span class ="caption">Product Name</span></div>
  <div class="product small"><span class ="caption">Product Name</span></div>
  <div class="product small"><span class ="caption">Product Name</span></div>
  <div class="product small"><span class ="caption">Product Name</span></div>
  <div class="product small"><span class ="caption">Product Name</span></div>


</div>


