<div class='main_content'>
  <h3>Search Results</h3>

  <% if @products.nil? %>
    <p>No results found.</p>
  <% else %>

    <p><%= "#{@products.count} result(s) found." %></p>

    <ul class='no-bullet'>
      <% @products.each do |product| %>
        <li><%= link_to product.name, product_path(product) %></li>
      <% end %>
    </ul>

  <% end %>
</div>
